@page
@model MyApp.Namespace.IzmeniLekModel
@{
}

<p> Lek za izmenu</p>
<form method="post">
    <input type="hidden" asp-for="lek.Id">

    <div>Reg broj: <input asp-for="lek.RegBroj"></div>
    <div>Naziv leka: <input asp-for="lek.NazivLeka"></div>
    <div>Cena: <input asp-for="lek.Cena"></div>
    <div>Kolicina:  <input asp-for="lek.Kolicina"></div>

    <button type="submit">Izmeni</button>


</form>
